

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    margin: 0;
    padding: 0;
}

h1{
    color:white;
}

p{
    color: white;
}

h2{
    color: white;
}

li{
    color: white;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #2980b9;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav li {
        float: left;
    }

    nav a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        nav a:hover {
            background-color: #34495e;
        }

section {
    padding: 20px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.icon-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

    .icon-buttons a {
        text-decoration: none;
    }

    .icon-buttons img {
        width: 50px;
        height: 50px;
    }

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1600px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

.fasz {
    height: 5%;
    width: 5%;
}

#disz {
    display: block;
    margin-left: auto;
    margin-right: auto;
}